.profilebox {background:#fff; border:1px solid #e2e3e6; width:100%; max-width:1100px; margin:0 auto 30px;padding:26px;}
.profilebox.searchnb {margin-bottom:15px!important;}
.profilebox span {display:table-cell; vertical-align:top;}
.profilebox span:first-child {width:100px; height:100px;margin-bottom:10px;}
.profilebox strong {display:block; font-weight:normal;padding-left:30px;width:100%;margin-right:20px;}
.profilebox img {width:100px;border-radius:150%;}
.profilebox .profile {width:100%;}
.profilebox .profile td {font-size:13px;padding:5px;}
.profilebox .profile td.f {width:100px;color:#999;}
.profilebox .profile a {color:#002BB8;}

.profilebox {padding-left:0!important;padding-right:0!important;}
.profilebox span {display:block;width:100%!important;text-align:center;}
.profilebox strong {margin:0!important;padding-left:0!important;}
.profilebox .profile {width:auto;margin:0 auto;}
.profilebox td {vertical-align: top;}
.profilebox td.f {width:70px!important;text-align:left;}
