<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />

    <title>Memo</title>
</head>
<body>
    <div id="app" class="app">
        <div class="head">
            <span class="title">메모 앱</span>
        </div>
        <div class="body">
            <div class="list" v-if="mode === 'list'">
                <ul>
               
                    <li v-for="m in memos">{{m.content}}</li>
                   
                </ul>
            </div>
            <div class="write" v-else>
                 <textarea v-model="memo.content"></textarea>
                 <button class="save-btn" type="button" v-on:click="save()">저장</button>
                 <button class="cancel-btn" type="button" v-on:click="cancel()">취소</button>
            </div>
            
            <button class="add-btn" type="button" v-on:click="write()" v-if="mode === 'list'">+</button>
        </div>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="app.js"></script>-->
    <script>
        var app = new Vue({
                el: '#app',
                data: {
                    mode: 'list',
                    memo:{
                        id:null,
                        content:null,
                        regDate:null
                    },
                    memos: []
                },
                methods: {
                    write: function(){
                        this.mode = 'write'
                    },
                    cancel:function(){
                        this.mode = 'list'
                    },
                    save: function(){
                        var id = this.memos.length + 1
                        this.memos.push({                            
                           id: id,
                            content: this.memo.content,
                            regDate: new Date()
                        })
                        this.memo.content = null
                        this.mode = 'list'

                        localStorage.setItem('memos',JSON.stringify(this.memos))
                    }
                },
                created: function(){
                    var memos = localStorage.getItem("memos")
                    if(memos){
                        this.memos = JSON.parse(memos)
                    }
                }
            })
    </script>
</body>
</html>