@charset "utf-8";

/* Default Style */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {
     margin:0; padding:0;
 }
img, fieldset, iframe { border:0 none; }
li { list-style:none; }



/*header*/

/*body*/


.main_tab_list {
    display:block;
    margin-top:14px;
    margin-left:-1%;
    margin-right:-1%;
}
.main_tab_list.c7 {
    margin-left:0;
    margin-right:0;
}
.main_tab_list ul {
    width:18%;
    min-height:270px;
    float:left;
    background:#fff;
    border:1px solid
    #e2e3e6;
    margin:0 1% 0 1%;
    box-sizing: border-box;
    margin-bottom:20px;
    position:relative;
    cursor:pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.main_tab_list:after {
    clear:both;
    content:"";
    display:block;
    padding:0;
    margin:0;
}
.main_img {
    height:134px;
    padding-top:20px;
    overflow:hidden;
    text-align:center;
    position:relative;
}
.main_img img {
    border-radius:5%;
    clear:both;
    width:100px;
    line-height:100%;
    margin:0 auto;
    position:relative;
    vertical-align:middle;
    } /* position:absolute; */
.main_title {
    color:#55a2b2;
    width:83%;
    margin:0 auto;
    font-size:14px;
}
.main_title p {
    text-align:center;margin-top:5px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.main_title span {
    display:block;
    color:#333;
    font-size:12px;
    text-align:center;
    line-height:20px;
    padding-top:10px;
    margin-bottom:15px;
    height: 48px;
    overflow: hidden;
}
.main_keyword {
    text-align:center;
}
.main_keyword span {
    cursor:default;
    letter-spacing: -1px;
    display:inline-block;
    line-height:25px;
    background:#f5f5f5;
    border-radius:3px;
    margin-left:7px;
    padding:0 10px;
    vertical-align:top;
    margin-bottom:3px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.main_keyword a span {
    cursor:pointer;
}
.main_keyword a:hover span {
    background:#2c3e50;
    color:#fff;
}
.main_keyword strong {
    display:inline-block;
    vertical-align:top;
    float:left;
}
.main_keyword strong img {
    margin-top:7px;
}
.main_keyword:after {
    clear:both;
    content:"";
    display:block;
    padding:0;
    margin:0;
}
.ico_job {

    position:absolute;
    left:-1px;
    top:-1px;
    width:42px;
    height:26px;
    line-height:26px;
    color:#fff;
    background:#646464;
    text-align:center;border-radius:0 0 7px 0;
}

.ranking_icon {
    position:absolute;
    left:0px;
    top:-1px;
	width:70px;
	height:65px;
	background:url("../../gallery_ranking_bg2.png") no-repeat left top;
	color:#fff;
	font-size:17px;
	padding:10px 0 0 5px;
	z-index:90;

}
.ranking_icon2 {
    background: url("../../gallery_ranking_bg.png") no-repeat left top;
    z-index: 999;
}

/* */

.av_profilebox{

}

.profilebox {background:#fff; border:1px solid #e2e3e6; width:100%; max-width:1100px; margin:0 auto 30px;padding:26px;}
.profilebox.searchnb {margin-bottom:15px!important;}
.profilebox span {display:table-cell; vertical-align:top;}
.profilebox span:first-child {width:100px; height:100px;margin-bottom:10px;}
.profilebox strong {display:block; font-weight:normal;padding-left:30px;width:100%;margin-right:20px;}
.profilebox img {width:100px;border-radius:150%;}
.profilebox .profile {width:100%;}
.profilebox .profile td {font-size:13px;padding:5px;}
.profilebox .profile td.f {width:100px;color:#999;}
.profilebox .profile a {color:#002BB8;}



@media screen and (max-width:980px) {
.relate_people li {width:20%;}
.relate_people li:last-child {display:none;}
.relate_people img {width:80px;}
.relate_people span.k {font-size:12px;text-overflow:ellipsis;}
}


@media screen and (max-width:900px) {

.sub_menu li a {margin-bottom:5px;}
.sub_menu li {margin-bottom:10px;}
}

@media screen and (max-width:800px) {
.main_tab_list ul {width:31.3%;}
.main_tab_list ul.c7 {width:31.3%;margin-left:1%;margin-right:1%;}
/*.sub_left {width:70%}*/
.sub_right {width:28%;}

}

@media screen and (max-width:640px) {

.hide_class {display:none !important;}
.m_block {height: 0;  display: block !important;  line-height: 0 !important;  padding-top: 0 !important;}

.top {position:fixed;top:0;}
.top h1 {display:none;}
.top .mbWrapper {display:block;}
.top .mobile_menu_btn {display:inline-block!important;}
.top .search_opt {display: none}
.top .search_txt {width:115px!important;display:none;}

/*.sub_left, .sub_right {float:none; width:100%;}*/
.sub_right {margin-top:20px;}
.height2 {height:inherit !important;}

.sub_tab_area_first {margin-top:55px;}
.sub_tab_area_first h3:first-child {display:none;}

.profilebox {padding-left:0!important;padding-right:0!important;}
.profilebox span {display:block;width:100%!important;text-align:center;}
.profilebox strong {margin:0!important;padding-left:0!important;}
.profilebox .profile {width:auto;margin:0 auto;}
.profilebox td {vertical-align: top;}
.profilebox td.f {width:70px!important;text-align:left;}


.ytlist .ytl,
.ytlist .ytr {padding:0!important;}
.ytlist .ytr {margin-top:10px;}

.relate_people {padding:10px 0 0;}
.relate_people li {width:33.3%;margin-bottom:10px;}
.relate_people li:last-child {display:inline-block;}
.relate_people img {width:65px;}
.relate_people span.k {font-size:11px;lette-spacing:-1px;}

.main_tab_list {display:block !important;}
.main_tab_list ul {width:48%; margin-bottom:10px;min-height:270px;}
.main_tab_list ul.c7 {width:48%;margin-left:1%;margin-right:1%;}
.main_keyword {height:25px;overflow:hidden;}

.r_info span:first-child {width:20%}

.footer {padding:0;height:60px!important;}
.footer img {display:none;}
.footer span {width:100%;text-align:center;padding-left:0;}
.footer .fta {display:none;}
.footer .ftb {line-height:60px;}

body {padding-bottom:80px;}
}
